    .valores {
        border: 1px solid #62c162;
        background-color: #8ac78a;
        padding: 5px;
        border-radius: 10px;
        height: 50px;
        text-align: center;
        font-size: 15px;
        color: white;
        font-weight: bold;
        margin: 2rem;
    }
    .nome{
        width:400px;
    }